@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add your custom fonts here */
@font-face {
    font-family: 'BeaufortforLOL';
    src: url('/fonts/BeaufortforLOL-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BeaufortforLOL';
    src: url('/fonts/BeaufortforLOL-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'BeaufortforLOL';
    src: url('/fonts/BeaufortforLOL-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BeaufortforLOL';
    src: url('/fonts/BeaufortforLOL-HeavyItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'BeaufortforLOL';
    src: url('/fonts/BeaufortforLOL-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'BeaufortforLOL';
    src: url('/fonts/BeaufortforLOL-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BeaufortforLOL';
    src: url('/fonts/BeaufortforLOL-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'BeaufortforLOL';
    src: url('/fonts/BeaufortforLOL-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BeaufortforLOL';
    src: url('/fonts/BeaufortforLOL-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BeaufortforLOL';
    src: url('/fonts/BeaufortforLOL-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Spiegel';
    src: url('/fonts/Spiegel-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Spiegel';
    src: url('/fonts/Spiegel-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Spiegel';
    src: url('/fonts/Spiegel-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Spiegel';
    src: url('/fonts/Spiegel-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Spiegel';
    src: url('/fonts/Spiegel-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

